.nav{
    text-align: left;
    flex: 0.35 1 auto;
}

.flex-column{
    background: #7ED957;
    margin-top: 75px;
    width: 170px;
}

#title-administrator{
    text-align: center;
    color: #082A37;
}

#div-admin{
    padding: 5px;
    border-bottom: solid white 1px;
}

.iconSidebar{
   color:  #082A37;
}

.link-sidebar{
    color: #082A37;
}

.link-sidebar:hover{
    color:white;
}

.link-sidebar {
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    .flex-column {
      flex-direction: column;
    }

    .link-sidebar {
        margin-top: 10px; /* Agrega un margen entre los enlaces */
      }
    }